.chat-main
 .group-info
  .group-info__left-items
   .group-info__left-items__group-name TECHCAMP
   .group-info__left-items__group-member-list shimizu morita sameeha
  =link_to '#' do
   .group-info__right-items edit

 .message-list
  .message-list__info
   %p.message-list__info__member shimizu
   %p.message-list__info__date 2020/03/20(Fri) 19:00:00
  %p.message-list__text Thank you!!!
  .message-list__info
   %p.message-list__info__member morita
   %p.message-list__info__date 2020/04/01(Wed) 19:00:00
  %p.message-list__text Hello!!!
  .message-list__info
   %p.message-list__info__member sameeha
   %p.message-list__info__date 2020/06/24(Wed) 19:00:00
  %p.message-list__text Great!!!

 .form
  %form.new_message
   .input-box
    %input{type: "text", class: "input-box__text", placeholder:'type a message'}
    %label{class:"input-box__image"}
     =icon('fas','image')
     %input{type:"file", class:"input-box__image__file"}
   %input{type:"submit", class:"submit-btn"}