.side-bar
 .side-bar__user-name
  .side-bar__user-name__top-items
   %p.side-bar__user-name__top-items__user-name SHIMIZU
   %ul.side-bar__user-name__top-items__menu
    %li.side-bar__user-name__top-items__menu__new-group
     =link_to '#' do
      %i.fa.fa-edit
    %li.side-bar__user-name__top-items__menu__edit-user
     =link_to '#' do
      %i.fa.fa-cog
 .side-bar__groups
  .side-bar__groups__group
   %p.side-bar__groups__group__name グループ名
   %p.side-bar__groups__group__message まだメッセメッセージがありません
  .side-bar__groups__group
   %p.side-bar__groups__group__name グループ名
   %p.side-bar__groups__group__message まだメッセメッセージがありません
  .side-bar__groups__group
   %p.side-bar__groups__group__name グループ名
   %p.side-bar__groups__group__message まだメッセメッセージがありません
